﻿
@{
	ViewBag.Title = "OrderConfirmation";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}


<div class="col text-center">
    <img style="width: 100px; height: 100px; margin-top: 50px;"
         src="~/img/Item/check.png"
         alt="">
    <h4 class="name-page  pt-5" style=" margin-bottom: 50px">Đặt hàng thành công</h4>
</div>

@*<h1 align="center" style="color:#2ad51d;padding:50px"> Đặt hàng thành công.</h1>*@